<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Cava & Corte</title>
    <link rel="stylesheet" href="../assets/css/estilos_login.css">
</head>

<body>
    <main class="main">
        <div class="textInfo">
            <img src="../assets/imagenes/Imagen_Logo.png" alt="Logo Cava & Corte">
            <div class="textInfo-titulo">
                <h1>Cava & Corte</h1>
                <h2>| Login</h2>
            </div>
            <span class="span1">Donde tus cenas se convierten tambien en una experiencia.</span>
            <span class="span2">Logeate y reserva un espacio!</span>
        </div>


        <form action="" class="loginForm">
            <div class="form-section">
                <label for="">Email</label>
                <input type="text" placeholder="usuario@cuenta.com">
            </div>
            <div class="form-section">
                <label for="">Password</label>
                <input type="text" placeholder="******">
            </div>
            <div class="form-remindPassword">
                <span><a href="#" class="linkNewPassword">Olvidates tu contraseña?</a></span>
            </div>
            <input type="button" value="Continuar" class="btn">
            <span>━━━━ or ━━━━</span>
            <span>Eres nuevo? <a href="#">Create una cuenta</a></span>
        </form>

    </main>
</body>

</html>