<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento de pruebas</title>
    <link rel="stylesheet" href="pruebas.css">
</head>

<body>
    <div class="slider">
        <div class="slider-track">
            <img src="../assets/imagenes/menu/Carrousel/Waffles.jpg" alt="img1" class="img1">
            <img src="../assets/imagenes/menu/Carrousel/Ancheta.jpg" alt="img2" class="img2">
            <img src="../assets/imagenes/menu/Carrousel/Curry.jpg" alt="img3" class="img3">
            <img src="../assets/imagenes/menu/Carrousel/Ensalada.jpg" alt="img4" class="img4">
            <img src="../assets/imagenes/menu/Carrousel/Pizza.jpg" alt="img5" class="img5">
            <img src="../assets/imagenes/menu/Carrousel/Sopita.jpg" alt="img6" class="img6">
            <!-- duplicamos las imágenes para lograr el bucle suave -->
            <img src="../assets/imagenes/menu/Carrousel/Waffles.jpg" alt="img1" class="img1">
            <img src="../assets/imagenes/menu/Carrousel/Ancheta.jpg" alt="img2" class="img2">
            <img src="../assets/imagenes/menu/Carrousel/Curry.jpg" alt="img3" class="img3">
            <img src="../assets/imagenes/menu/Carrousel/Ensalada.jpg" alt="img4" class="img4">
            <img src="../assets/imagenes/menu/Carrousel/Pizza.jpg" alt="img5" class="img5">
            <img src="../assets/imagenes/menu/Carrousel/Sopita.jpg" alt="img6" class="img6">
        </div>
    </div>
</body>

</html>