<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilosprueba.css">
</head>
<body>
    <div class = "div-prueba">
        <h2>hola</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Alias enim velit perferendis, tempora deleniti quibusdam assumenda, eaque vel dolorum aliquam 
            consectetur repellat explicabo, sapiente nemo rem rerum odit obcaecati excepturi!</p>
    </div>
</body>
</html>