* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icono-mesa {
  width: 100px;
  cursor: pointer; /* Hace que parezca clickeable */
  transition: transform 0.2s;
}

.icono-mesa:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed; /* Se queda centrado en toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.oculto {
  display: none;
}
