<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cava & Corte | Reservation System</title>
    <link rel="stylesheet" href="../assets/css/estilosReservationPage.css">
    <script src="../assets/javascript/systemReservation.js"></script>
</head>

<body>
    <main class="main">
        <nav class="navbar">
            <div class="navbar-logo">
            </div>

            <div class="navbar-points">
                <button class="btn" onclick="showSection('reservation-section')">
                    <img src="../assets/imagenes/SystemPage/Reservacion.png" alt="Icono reservas" class="btn-icon">
                    <span>Reservacion</span>
                </button>
                <button class="btn" onclick="showSection('menu-section')">
                    <img src="../assets/imagenes/SystemPage/Menu.png" alt="Icono reservas" class="btn-icon">
                    <span>Menu</span>
                </button>
                <button class="btn" onclick="showSection('history-section')">
                    <img src="../assets/imagenes/SystemPage/Historial.png" alt="Icono reservas" class="btn-icon">
                    <span>Historial</span>
                </button>
            </div>

            <div class="navbar-userInfo">
                <img src="../assets/imagenes/SystemPage/perfil.jpg" alt="Foto de perfil del usuario">
                <span>User name</span>
            </div>
        </nav>

        <section class="main-section">
            <section id="menu-section" class="section">
                <div class="hero">
                    <span>Sumergete en deliciosos <br>platillos de comida</span>
                    <div class="slider">
                        <div class="slider-track">
                            <img src="../assets/imagenes/menu/Carrousel/Waffles.jpg" alt="img1" class="img1">
                            <img src="../assets/imagenes/menu/Carrousel/Ancheta.jpg" alt="img2" class="img2">
                            <img src="../assets/imagenes/menu/Carrousel/Curry.jpg" alt="img3" class="img3">
                            <img src="../assets/imagenes/menu/Carrousel/Ensalada.jpg" alt="img4" class="img4">
                            <img src="../assets/imagenes/menu/Carrousel/Pizza.jpg" alt="img5" class="img5">
                            <img src="../assets/imagenes/menu/Carrousel/Sopita.jpg" alt="img6" class="img6">
                            <!-- duplicamos las imágenes para lograr el bucle suave -->
                            <img src="../assets/imagenes/menu/Carrousel/Waffles.jpg" alt="img1" class="img1">
                            <img src="../assets/imagenes/menu/Carrousel/Ancheta.jpg" alt="img2" class="img2">
                            <img src="../assets/imagenes/menu/Carrousel/Curry.jpg" alt="img3" class="img3">
                            <img src="../assets/imagenes/menu/Carrousel/Ensalada.jpg" alt="img4" class="img4">
                            <img src="../assets/imagenes/menu/Carrousel/Pizza.jpg" alt="img5" class="img5">
                            <img src="../assets/imagenes/menu/Carrousel/Sopita.jpg" alt="img6" class="img6">
                        </div>
                    </div>
                </div>

                <div class="typeMenu">
                    <span class="typeMenu-title">Desayuno menú especial</span>
                    <div class="menu">
                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo12.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>

                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo1.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>

                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo2.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>

                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo3.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>
                    </div>
                </div>

                <div class="typeMenu">
                    <span class="typeMenu-title">Almuerzo menú especial</span>
                    <div class="menu">
                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo4.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>

                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo5.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>

                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo6.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>

                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo7.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>
                    </div>
                </div>

                <div class="typeMenu">
                    <span class="typeMenu-title">Cena menú especial</span>
                    <div class="menu">
                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo8.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>

                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo9.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>

                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo10.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>

                        <div class="menu-platillo">
                            <div class="menu-platillo-conjunto">
                                <img src="../assets/imagenes/menu/platillos/platillo11.jpg" alt="platillo1"
                                    class="platillo-img">
                                <div class="menu-platillo-info">
                                    <span class="platillo-title">Crispy chicken poblano</span>
                                    <span class="platillo-ingredients">Pollo a la brasa, queso cheddar, tomate,
                                        pimienta</span>
                                </div>
                            </div>
                            <span class="platillo-precio">$45.000</span>
                        </div>
                    </div>
                </div>
            </section>

            <section id="history-section" class="section">
                <div class="reservations">
                    <div class="futureReservations">
                        <span class="futureReservations-title">Future reservations</span>
                        <div class="futureReservation">
                            <div class="reservationDate">
                                <span class="date">22 - 31 - oct</span>
                                <span class="hour">10:00</span>
                            </div>
                            <div class="tableReserved">
                                <span>Table reserved</span>
                                <span class="NTable">N°1</span>
                            </div>
                            <div class="saucer">
                                <span>Requested saucer</span>
                                <span class="fSaucer">Pollo apanado</span>
                            </div>
                           <button>
                                <img src="../assets/imagenes/historial/delete_14337750.png" alt="img cancelar" class="img-cancelar">
                                Cancel reservation
                           </button>
                        </div>
                        <div class="futureReservation">
                            <div class="reservationDate">
                                <span class="date">22 - 31 - oct</span>
                                <span class="hour">10:00</span>
                            </div>
                            <div class="tableReserved">
                                <span>Table reserved</span>
                                <span>N°1</span>
                            </div>
                            <div class="saucer">
                                <span>Requested saucer</span>
                                <span>Pollo apanado</span>
                            </div>
                           <button>
                                <img src="../assets/imagenes/historial/delete_14337750.png" alt="img cancelar" class="img-cancelar">
                                Cancel reservation
                           </button>
                        </div>
                    </div>
                    <div class="pastReservations">
                        <span class="pastReservations-title">Past reservations</span>
                        <div class="pastReservation">
                            <div class="reservationDate">
                                <span class="date">22 - 31 - oct</span>
                                <span class="hour">10:00</span>
                            </div>
                            <div class="tableReserved">
                                <span>Table reserved</span>
                                <span>N°1</span>
                            </div>
                            <div class="saucer">
                                <span>Requested saucer</span>
                                <span>Pollo apanado</span>
                            </div>
                           <button>
                                <img src="../assets/imagenes/historial/delete_14337750.png" alt="img cancelar" class="img-cancelar">
                                Cancel reservation
                           </button>
                        </div>

                    </div>
                </div>
            </section>

            <section id="reservation-section" class="section">
                <form action="" class="reservationForm">
                    <div class="formSection">
                        <label for="listaPlatillos">Entrada</label>
                        <select name="listaPlatillos" id="">
                            <option value="#" class="listaOpcion" selected>Selecciona un platillo</option>
                            <option value="#" class="listaOpcion">Pollo apanado</option>
                            <option value="#" class="listaOpcion">Ensalada vegana</option>
                            <option value="#" class="listaOpcion">Choco crispis</option>
                            <option value="#" class="listaOpcion">Zucaritas</option>
                            <option value="#" class="listaOpcion">Caviar</option>
                        </select>
                    </div>
                    <div class="formSection">
                        <label for="listaMesas">Mesa</label>
                        <select name="listaMesas" id="">
                            <option value="#" selected>Selecciona una mesa</option>
                            <option value="#" class="listaOpcion">Mesa 1 - (2 personas)</option>
                            <option value="#" class="listaOpcion">Mesa 2 - (3 personas)</option>
                            <option value="#" class="listaOpcion">Mesa 3 - (4 personas)</option>
                            <option value="#" class="listaOpcion">Mesa 4 - (6 personas)</option>
                        </select>
                    </div>
                    <div class="formSection">
                        <label for="fecha">Fecha</label>
                        <input type="date" id="fecha" name="fecha" required>
                    </div>
                    <div class="formSection">
                        <label for="hora">Hora</label>
                        <input type="time" id="hora" name="hora" min="17:00" max="23:00" required>
                    </div>
                    <input type="submit" id="btnSubmit" value="Confirmar reserva">
                </form>
            </section>
                    
        </section>
    </main>
</body>

</html>