<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History reservations</title>
    <link rel="stylesheet" href="../public/css/styleHistory.css">
</head>
<body>
    <!-- Insertando el navbar -->
    <%- include("../views/partials/navbar.ejs") %>

    <section id="history-section" class="section active">
        <div class="reservations">
            <div class="futureReservations">
                <span class="futureReservations-title">Future reservations</span>
                <span class="secondTitle">Gestiona tus reservas</span>


                <div class="futureReservation">
                    <div class="reservationDate">
                        <div class="divDateTime">
                            <div class="datetime"> 
                                <img src="../public/imgs/historial/icons8-calendario-96.png" alt="">
                                <span>Fecha</span>
                            </div>
                            <span class="white">22 - 31 - oct</span>
                        </div>
                        <div class="divDateTime">
                            <div class="datetime"> 
                                <img src="../public/imgs/historial/icons8-reloj-150 (1).png" alt="">
                                <span>Hora</span>
                            </div>
                            <span class="white">10:00</span>
                        </div>
                    </div>
                    <div class="tableReserved">
                        <span class="tableTitle">Table reserved</span>
                        <span class="white">N°1</span>
                    </div>
                    <div class="saucer">
                        <span class="saucerTitle">Requested saucer</span>
                        <span class="white">Pollo apanado</span>
                    </div>
                    <button>
                        <img src="../public/imgs/historial/icons8-x-96.png" alt="img cancelar" class="img-cancelar" />
                        Cancel reservation
                    </button>
                </div>


            </div> 
            <div class="pastReservations">
                <span class="pastReservations-title">Past reservations</span>


                <div class="futureReservation">
                    <div class="reservationDate">
                        <div class="divDateTime">
                            <div class="datetime"> 
                                <img src="../public/imgs/historial/icons8-calendario-96.png" alt="">
                                <span>Fecha</span>
                            </div>
                            <span class="white">22 - 31 - oct</span>
                        </div>
                        <div class="divDateTime">
                            <div class="datetime"> 
                                <img src="../public/imgs/historial/icons8-reloj-150 (1).png" alt="">
                                <span>Hora</span>
                            </div>
                            <span class="white">10:00</span>
                        </div>
                    </div>
                    <div class="tableReserved">
                        <span class="tableTitle">Table reserved</span>
                        <span class="white">N°1</span>
                    </div>
                    <div class="saucer">
                        <span class="saucerTitle">Requested saucer</span>
                        <span class="white">Pollo apanado</span>
                    </div>
                </div> 


                
            </div>
        </div>
    </section>
</body>
</html>





