<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cava & Corte | Reservation System</title>
    <link rel="stylesheet" href="../public/css/styleMenu.css">
    
</head>

<body>
    <main class="main">
        <!-- Insertando el navbar -->
        <%- include("../views/partials/navbar.ejs") %>

        <section class="main-section">
            <section id="menu-section" class="section active">
                <div class="hero">
                    <span>Sumergete en deliciosos <br>platillos de comida</span>
                    <div class="slider">
                        <div class="slider-track">
                            <img src="../public/imgs/menu/Carrousel/Waffles.jpg" alt="img1" class="img1">
                            <img src="../public/imgs/menu/Carrousel/Ancheta.jpg" alt="img2" class="img2">
                            <img src="../public/imgs/menu/Carrousel/Curry.jpg" alt="img3" class="img3">
                            <img src="../public/imgs/menu/Carrousel/Ensalada.jpg" alt="img4" class="img4">
                            <img src="../public/imgs/menu/Carrousel/Pizza.jpg" alt="img5" class="img5">
                            <img src="../public/imgs/menu/Carrousel/Sopita.jpg" alt="img6" class="img6">
                            <!-- duplicamos las imágenes para lograr el bucle suave -->
                            <img src="../public/imgs/menu/Carrousel/Waffles.jpg" alt="img1" class="img1">
                            <img src="../public/imgs/menu/Carrousel/Ancheta.jpg" alt="img2" class="img2">
                            <img src="../public/imgs/menu/Carrousel/Curry.jpg" alt="img3" class="img3">
                            <img src="../public/imgs/menu/Carrousel/Ensalada.jpg" alt="img4" class="img4">
                            <img src="../public/imgs/menu/Carrousel/Pizza.jpg" alt="img5" class="img5">
                            <img src="../public/imgs/menu/Carrousel/Sopita.jpg" alt="img6" class="img6">
                        </div>
                    </div>
                </div>

                <div class="typeMenu">
                    <span class="typeMenu-title">Desayuno menú especial</span>
                    <div class="menu">                   
                        <%- include('../views/partials/catalogoPlatillos.ejs', { 
                            products: breakfast
                        }) %>
                    </div>
                </div>

                <div class="typeMenu">
                    <span class="typeMenu-title">Almuerzo menú especial</span>
                    <div class="menu">
                        <!-- Traer los platillos que tienen el tipo_platillo como "Almuerzo" -->
                         <%- include('../views/partials/catalogoPlatillos.ejs', { 
                            products: lunch
                        }) %>
                    </div>
                </div>

                <div class="typeMenu">
                    <span class="typeMenu-title">Cena menú especial</span>
                    <div class="menu">
                         <!-- Traer los platillos que tienen el tipo_platillo como "Cena" -->
                        <%- include('../views/partials/catalogoPlatillos.ejs', { 
                            products: dinner
                        }) %>
                    </div>
                </div>
            </section>

                         
        </section>
    </main>
    <script src="../public/js/systemReservation.js"></script>
</body>
</html>