* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1a1a1a;
}

/*-----------Css referente a la seccion del historial-------------*/
#history-section {
    padding: 3%;
}

#history-section.active {
    filter: blur(7px);
}

.reservations {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.futureReservations, .pastReservations {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.futureReservation, .pastReservation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8%;
    padding: 20px;
    background-color: #0a0a0a;
    max-width: 950px;
    border-radius: 10px;
    border: 1px solid #2b2b2b;
}

.futureReservations-title, .pastReservations-title {
    font-size: 30px;
    color: #d4af37;
}

.reservationDate, .tableReserved, .saucer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 7px;
}

.reservationDate {
    display: flex;
    gap: 15px;
    border-radius: 5px;
    background-color: #1a1a1a;;
    border: 1px solid #2b2b2b;
}

.futureReservation button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 16px;     
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #210d0d;
    color: #c15c57;
    border: 1px solid #c15c57;
}

.tableReserved span:first-child, .saucer span:first-child {
    font-size: 18px;
}

.img-cancelar {
    width: 25px;
    height: 25px;
}

/* ------Estilos referentes a las letras------*/

.tableTitle, .saucerTitle {
    color: #6d6c6d;
}

.hour, .NTable, .fSaucer, .white {
    color: #e6e2e6;
}

.secondTitle {
    font-size: 18px;
    color: #979ba0;
}

/* Estilos referentes a la parte de fecha y hora*/
.divDateTime {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.datetime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.datetime img {
    width: 22px;
    height: 22px;
}

.datetime span {
    color: #B0A575;
}

/* ----Estilos referentes al empty-state------*/
.futureReservations h3, .pastReservations h3{
    color: #979ba0;
}

/* -------Estilos referentes al modal de confirmacion----*/
#modal {
    height: 20%;
    width: 30%;
    display: flex; 
    flex-direction: column;
    gap: 20px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    max-width: 700px;
    inset: 0;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    
    pointer-events: none; /*--- Para que el modal no reciba clicks----*/ 
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.7);  
}

#modal.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

#modal div {
    display: flex;
    gap: 15%;
}

#btn-yes {
    width: 40%;
    padding: 14px;
    background: linear-gradient(90deg, #d4af37, #f5d76e);
    border: none;
    border-radius: 8px;
    font-weight: normal;
    color: #000;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

#btn-yes:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #d4af37;
}

#btn-no {
    width: 40%;
    padding: 14px;
    background: linear-gradient(90deg, #d4373f, #f56e6e);
    border: none;
    border-radius: 8px;
    font-weight: normal;
    color: #000;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

#btn-no:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #d4373f;
}


/* ----Estilos referntes al modal de INFO-----*/
#modalInfo {
    padding: 20px;
    height: 20%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    max-width: 700px;
    inset: 0;
    margin: auto;
    
    opacity: 0;
    pointer-events: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.7);  
}

#modalInfo img{
    width: 30px;
    width: 30px;
}

