* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1a1a1a;
}

/*-----------Css referente a la seccion del historial-------------*/
#history-section {
    padding: 3%;
}

.reservations {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.futureReservations, .pastReservations {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.futureReservation, .pastReservation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
    padding: 20px;
    background-color: #0a0a0a;
    max-width: 900px;
    border-radius: 10px;
    border: 1px solid #2b2b2b;
}

.futureReservations-title, .pastReservations-title {
    font-size: 30px;
    color: #d4af37;
}

.reservationDate, .tableReserved, .saucer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 7px;
}

.reservationDate {
    display: flex;
    gap: 15px;
    border-radius: 5px;
    background-color: #1a1a1a;;
    border: 1px solid #2b2b2b;
}

.futureReservation button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 16px;     
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #210d0d;
    color: #c15c57;
    border: 1px solid #c15c57;
}

.tableReserved span:first-child, .saucer span:first-child {
    font-size: 18px;
}

.img-cancelar {
    width: 25px;
    height: 25px;
}

/* ------Estilos referentes a las letras------*/

.tableTitle, .saucerTitle {
    color: #6d6c6d;
}

.hour, .NTable, .fSaucer, .white {
    color: #e6e2e6;
}

.secondTitle {
    font-size: 18px;
    color: #979ba0;
}

/* Estilos referentes a la parte de fecha y hora*/
.divDateTime {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.datetime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.datetime img {
    width: 22px;
    height: 22px;
}

.datetime span {
    color: #B0A575;
}

/* ----Estilos referentes al empty-state------*/
.futureReservations h3, .pastReservations h3{
    color: #979ba0;
}