* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
}

body {
    background-color: #282726;
}

/*-----------Css referente a la seccion del historial-------------*/
#history-section {
    padding: 3%;
}

.reservations {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.futureReservations {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.futureReservation, .pastReservation {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 10px;
    background-color: white;
    max-width: 800px;
    border-radius: 4px;
}

.futureReservations-title, .pastReservations-title {
    font-size: 30px;
    color: #d4af37;
}

.reservationDate, .tableReserved, .saucer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 7px;
}

.reservationDate {
    border-radius: 5px;
    background-color: #eceef9;
}

.futureReservation button, .pastReservation button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 16px;     
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.tableReserved span:first-child, .saucer span:first-child {
    font-size: 18px;
}

.fSaucer, .NTable {
    color: #6a6966;
}

.img-cancelar {
    width: 25px;
    height: 25px;
}
