<link rel="stylesheet" href="../../public/css/navbar.css">
<!-- Partial del navbar -->
<nav class="navbar">
	<div class="navbar-logo"></div>

	<div class="navbar-points">
		<button class="btn" onclick="window.location.href='/reservation'">
			<img
				src="../public/imgs/SystemPage/Reservacion.png"
				alt="Icono reservas"
				class="btn-icon"
			/>
			<span>Reservacion</span>
		</button>
		<button class="btn" onclick="window.location.href='/homePage'">
			<img
				src="../public/imgs/SystemPage/Menu.png"
				alt="Icono reservas"
				class="btn-icon"
			/>
			<span>Menu</span>
		</button>
		<button class="btn" onclick="window.location.href='/history'">
			<img
				src="../public/imgs/SystemPage/Historial.png"
				alt="Icono reservas"
				class="btn-icon"
			/>
			<span>Historial</span>
		</button>
	</div>

	<div class="navbar-userInfo">
		<img
			src="../public/imgs/SystemPage/perfil.jpg"
			alt="Foto de perfil del usuario"
		/>
		<span> <%= usuarioActual.name  %> </span>
	</div>
</nav>
